body{
  margin:15%;
  margin-top: 10px;
  background-image: url("ACA_Headshot5_2019.jpg");
  background-size: cover;
}
main{
  color:white;
}
.nav{
  background-color: rgb(102, 225, 127, .6);
  color:white;
  display: flex;
  justify-content: space-around;;
  border: 1px solid black;
  border-radius: 15px;
}
ul{
  list-style-type: none;
}

.nav > li{
  display:inline
}
.piece{
  width:65%;
  border: 1px solid black;
  background-color: rgb(102, 225, 127, .6);
  border-radius: 15px;
}
