body { 
    font: 100%  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;    
    text-align:center; 
    background-color: #adadad;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
header, main {
    padding:15px;
    margin: 15px;
    background-color: #ffff97;
    max-width: 500px;
}
header {
    border-radius: 15px 50px 30px 5px;
}
main {
    border-radius: 50px 15px 5px 30px;
}
.drpItem {
    background-color: #cccccc;
    width: 90%;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.dropbtn {
    border-radius: 15px 50px 30px 5px;
    padding: 12px;
    font-size: 20px;
    border: none;
    background-color: #199700;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown {
    position: relative;
    display: inline-block;
}
/*the inline-block gives the dropdowns the same width as the button*/
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
section{ 
    padding-top:40px;
}
.hide {
    display:none;
}
.appear {
    display: block;
}
/* Change color of dropdown links on hover */
.drpItem:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #9bffa2;}