html, body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(45deg,
    #dbc2c2, #a7d649, #8f8ffc, #84cfcf);
    background-size: 150% 150%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.topHead {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(
        #dbc2c2, #a7d649, #8f8ffc, #84cfcf);
    background-size: 150% 150%;
    animation: gradient 13s ease infinite;
    border-radius: 25px;
    border: 5px outset rgb(113, 116, 255);
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.gameContainer {
    background: linear-gradient(-45deg,
    #dbc2c2, #a7d649, #8f8ffc, #84cfcf);
    background-size: 150% 150%;
    animation: gradient 3s ease infinite;
    display: grid;
    border-radius: 25px;
    grid-template-columns: auto;
    grid-template-rows: 1fr, 4fr;
    position: relative;
    border: 5px outset rgb(113, 116, 255);
    height: 400px;
    width: 600px;
}

.tower {
    border: 3px inset rgb(113, 116, 255);
    border-radius: 15px;
    height: 250px;
    width: 180px;
    background: grey;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-end;
}

.block {
    height: 20px;
}

.b1 {
    background-color: blue;
    width:50px;
}

.b2 {
    background-color: pink;
    width:75px;
}

.b3 {
    background-color: green;
    width:125px;
}

.b4 {
    background-color: black;
    width:175px;
}